
<div>
    <ul class="nav nav-tabs">
        <li>
            @Html.ActionLink("Inställningar", "Index", "Main")
        </li>
        <li>
            @Html.ActionLink("Loggar", "Index", "Logs")
        </li>
        <li>
            @Html.ActionLink("Sparad Data", "Index", "SavedData")
        </li>

    </ul>
</div>
